* {
    box-sizing: border-box; 
    font-size: 0px;
}

.container{
    width: 100%;
}

.box {
    height: 10vh;
    border: 5px solid white;
}

.topPink {
    display: grid;
    background-color: #F5C6D6;
    /* float: left; */
    width: 100%;
}

.fourPink {
    display: grid;
    background-color: #EE2E84;
    float: left;
    width: 25%;
}

.twoBlue {
    background-color: #85CFD8;
    float: left;
    width: 50%;
}

#green {
    background-color: #8DC63F;
    float: left;
    width: 75%;
}

#orange {
    background-color: #E76E34;
    float: left;
    width: 25%;
}

.topRow::after {
    content: "";
    display: table;
    clear: both;
}

.secondRow::after {
    content: "";
    display: table;
    clear: both;
}

.thirdRow::after {
    content: "";
    display: table;
    clear: both;
}

.bottomRow::after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 550px){
    body{
        background-color: black;
    }
    .box{
        border: 5px solid black;
    }

    .topPink{
        width: 100%;
    }

    .fourPink{
        float: none;
        width: 100%;
    }

    .twoBlue{
        float: none;
        width: 100%;
    }

    #green{
        float: none;
        width: 100%;
    }

    #orange{
        float: none;
        width: 100%;
    }
}

@media(min-width: 1000px){
    .box{
        height: 24vh;
    }
    body{
        background-color: black
    }
    .box{
        border: 5px solid black;
    }
}

